// NOTE: styles for map side panel view
$base-duration: 500ms;
$cubic: cubic-bezier(.64,.09,.08,1);
// Colors
$color-1: #004544;
$color-2: #9fd5b3;
$color-3: #E48F22;
$color-4: #CF3234;
$color-5: #444;
$white: #fff;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

#map-side-panel-small{
  position: fixed;
  top: 4em;
  left: -25em;
  width: 25em;
  height: calc(100vh - 4em);
  overflow-y: auto;
  z-index: 1;
  background-color: $white;
  padding: 1em;
  transition: all $base-duration ease;

  .box{
    position: relative;

    h2{
      color: $color-4;
      font-size: 1.5em;
      font-weight: bold;
    }

    .sub-box{
      background-color: $color-2;
    }

    p{
      padding: .5em .25em;
      margin: 0;
    }
    p:nth-child(odd){
      background-color: rgba($white, .6);
    }
  }
}

#map-data-panel{
  position: fixed;
  top: 4em;
  left: -25em;
  width: 25em;
  height: calc(100vh - 4em);
  overflow-y: auto;
  z-index: 1;
  background-color: $white;
  padding: 1em;
  transition: all $base-duration ease;

  .box{
    position: relative;

    h2{
      color: $color-4;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .layers-list{
    padding-top: 1em;

    div{
      padding: .5em 1em;
    }

    div.active{
      background-color: lighten($color-3, 20%);
    }
  }
}

#map-side-panel{
  position: fixed;
  top: 4em;
  left: 100vw;
  width: calc(100vw - 4em);
  height: calc(100vh - 4em);
  overflow-y: auto;
  z-index: 1;
  background-color: $white;
  padding: 1em;
  transition: all $base-duration ease;

  .box{
    position: relative;
  }

  .panel-information{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header badges ."
    "owner property demos"
    "sales permits blight";
    grid-column-gap: 1em;
    grid-row-gap: 1.5em;

    .info-section{
      position: relative;
      background-color: $color-2;
      padding: 1em;
      color: $color-1;

      span{
        position: absolute;
        top: -1em;
        padding: .3em .5em;
        background-color: $color-3;
        color: $color-1;
        font-weight: bold;
      }

      p{
        padding: .5em .25em;
        margin: 0;
      }
      p:nth-child(odd){
        background-color: rgba($white, .6);
      }

      div{
        background-color: rgba($white, .6);
        margin-bottom: .5em;

        p{
          padding: .25em;
        }

        p:nth-child(odd){
          background-color: transparent;
        }
      }
    }

    h2{
      grid-area: header;
      color: $color-4;
      font-size: 1.5em;
      font-weight: bold;
    }

    .badges{
      grid-area: badges;

      span{
        padding: .5em 1em;
        font-weight: bold;
        margin-right: 1em;
      }

      span.active{
        background-color: $color-1;
        color: $white;
      }

      span.inactive{
        background-color: $color-4;
        color: $white;
      }
    }

    .section-property{
      grid-area: property;
    }

    .section-owner{
      grid-area: owner;
    }

    .section-blight{
      grid-area: blight;
    }

    .section-sales{
      grid-area: sales;
    }

    .section-permits{
      grid-area: permits;
    }

    .section-demos{
      grid-area: demos;
    }
  }
}
#buffer-panel{
  position: absolute;
  bottom: -30em;
  background-color: $white;
  left: 6em;
  width: 15em;
  height: 25em;
  transition: all $base-duration ease;

  .box{
    position: relative;
    display: none;
  }
}
#buffer-panel.active{
  bottom: 1em;
  transition: all $base-duration ease;

  .box{
    display: block;
  }
}
#map-side-panel.active, #map-data-panel.active{
  left: 4em;
  transition: all $base-duration ease;
}
#map-side-panel-small.active{
  left: 4em;
  transition: all $base-duration ease;
}
#hidde-panel-btn, #hidde-panel-small-btn, #hidde-map-data-btn{
  position: absolute;
  top: -.5em;
  right: 0;
  padding: .5em 1em;
  background-color: $color-4;
  color: $white;
  font-weight: bold;
  transition: all $base-duration ease;
  cursor: pointer;
}
#hidde-panel-btn:hover, #hidde-panel-small-btn:hover, #hidde-map-data-btn:hover{
  padding: .7em 1.15em;
  background-color: lighten($color-4, 5%);
  transition: all $base-duration ease;
}
