$color-1: #004544;
$color-2: #23a696;
$color-3: #9fd5b3;
$color-4: #fff;
$color-5: #444;
$color-6: #FF625B;

[type="radio"]:checked,
[type="radio"]:not(:checked),
nav [type="checkbox"]:checked,
nav [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label,
nav [type="checkbox"]:checked + label,
nav [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $color-5;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
nav [type="checkbox"]:checked + label:before,
nav [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: .35em;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: $color-3;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
nav [type="checkbox"]:checked + label:after,
nav [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $color-1;
    position: absolute;
    top: .55em;
    left: .2em;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after,
nav [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after,
nav [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
